body {
  background-color: #402d72;
  max-width: 600px;
  margin: 45px auto;
  text-align: center;
}

h1 {
  font-size: 60px;
}

.App-container {
  background-color: #282c34;
  border-radius: 20px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #5f4d8b;
}
